.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 24px 0;
}

.header-logo img {
  height: 350px; 
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 24px;
  margin-right: 32px;
}

.main-nav a {
  text-decoration: none;
  color: #9452ea;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 6px;
  background: #f3e9ff;
  transition: background 0.2s;
}

.main-nav a.active,
.main-nav a:hover {
  background: #d1b3ff;
}